/* .ocuppied{
    width: 40px;
    height: 40px;
    background: brown;
    border: solid 2px #ffffff;
}

.empty{
    width: 40px;
    height: 40px;
    background: skyblue;
    border: solid 2px #ffffff;

}

.cookieJelly{
    display: flex;
    flex-direction: column;
}

.cookieJar{
    display: flex;
    flex-direction: column;
    border: 3px solid pink;
    justify-content: space-evenly;
    align-items: normal;

}

.cookieSlot{
    display: inline-block;
    border: 2px solid black;
    padding: 2%;
    margin: 1%;
} */


