<div class="cookieJelly" *ngIf="permissionToRender">
  <div *ngFor="let info of playerABoard">
    Jugador A: {{info.player}} <br>
    Id tablero: {{info.id}}
    Flota de galletas: {{info.fleetNumber}}
    <!-- <a routerLink="/boardB">Ver oponente </a> -->
    <div class="containerBoard">
      <div class="cookieJar" *ngFor="let row of info.board; index as i">
        <div *ngIf="settedRows > i">
          <div (click)="cookieToggler(info.id, obj.coordinates, obj.withCookie, obj.hitted, obj.eaten)" class="cookieSlot" *ngFor="let obj of row">
          <div [ngClass]="setTheSquare(obj.withCookie)">{{obj.coordinates}}</div>   
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<div *ngIf="btnAppear" class="goAhead">Para reubicar tu flota, haz click sobre la casilla, una vez estés conforme, pulsa "iniciar partida"</div>
<button *ngIf="btnAppear" (click)="startGame()">Iniciar Partida</button>
<div *ngIf="alreadyStartedMsg" class="errorMsg">Ya no puedes cambiar tu flota de posición, la batalla comenzó</div>