/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Baloo Bhai', cursive;
}

.ocuppied{
    background-image: url(https://res.cloudinary.com/dcloh6s2z/image/upload/v1575580446/Portafolio/BattleChocoChip/cookie-ANIMATION_f4voqf.gif); 
    background-repeat:no-repeat;
    /* background: brown;  */
    background-size: 100%;
    border: solid 2px #ffffff;
}
/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

.empty{
    background-image: url(https://res.cloudinary.com/dcloh6s2z/image/upload/v1575601585/Portafolio/BattleChocoChip/jelly-ANIMATION_yfvcwp.gif);
    background-repeat:no-repeat;
    background-size: 100%;
    /* background: skyblue; */
    border: solid 2px #ffffff;

}
/* Photo by <a href="/photographer/bloodypixy-29906">pixy </a> from <a href="https://freeimages.com/">FreeImages</a> */

/* <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */

.cookieJelly{
    display: flex;
    flex-direction: column;
}

.containerBoard {
    max-width: 40%; /*38% máx 8 casillas de 40px. 40% más 10 casillas de 32px */ /* Porcentaje en relación con el contenedor padre */
    /* Buen tamaño, pero soporta hasta 5 .cookieSlot sin adaptarles el tamaño */
}

.cookieJar{
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
    justify-content: space-evenly;
    align-items: normal;
}

.cookieSlot{
    display: inline-block;
    border: 2px solid black;
    /* padding: 2%;
    margin: 1%; */
    max-height: 100%; /* Porcentaje en relación con el contenedor padre */
        /* de esta manera caben máx 8 .cookieSlot en una fila */
}

#myOpponent .empty, #myOpponent .ocuppied {
    background: aqua; /* Background-color pone fondo detrás de las imágenes en background-image */
}

@media all and (max-width:371px) and (min-width:303px) {
    .containerBoard {
        max-width: 100%; /* Porcentaje en relación con el contenedor padre */
    }

    .cookieJar {
        align-items: center;
    }

    .ocuppied, .empty {
        width: 20px;
        height: 20px;
    }
}

@media all and (max-width:420px) and (min-width:371px) {
    .containerBoard {
        max-width: 100%; /* Porcentaje en relación con el contenedor padre */
    }

    .cookieJar {
        align-items: center;
    }

    .ocuppied, .empty {
        width: 27px;
        height: 27px;
    }
}

@media all and (max-width:501px) and (min-width:420px) {
    .containerBoard {
        max-width: 100%; /* Porcentaje en relación con el contenedor padre */
    }

    .cookieJar {
        align-items: center;
    }

    .ocuppied, .empty {
        width: 32px;
        height: 32px;
    }
}

@media all and (max-width:903px) and (min-width:501px) {
    .containerBoard {
        max-width: 100%;
    }

    .cookieJar {
        align-items: center;
    }

    .ocuppied, .empty {
        width: 40px;
        height: 40px;
    }
}

@media all and (max-width:977px) and (min-width:903px) {
    .ocuppied, .empty {
        width: 27px;
        height: 27px;
    }
}

@media all and (max-width:1028px) and (min-width:977px) {
    .ocuppied, .empty {
        width: 30px;
        height: 30px;
    }
}

@media all and (min-width:1028px) {
    .ocuppied, .empty {
        width: 32px;
        height: 32px;
    }
}